.footer>.copyright {
	height:66px;
	background-color:#323232;
	position:relative;
	z-index:1;
	color: white;
	font-family: arial;
	letter-spacing: 1px;
	text-align: center;
	line-height: 66px;
}
.footer>.links {
	text-align:center;
}
.footer>.links>a,.servicebox {
	display: block;
	min-height: 64px;
	text-align: center;
	color: black;
	text-decoration: none;
	font-family: arial,\5FAE\8EDF\6B63\9ED1\9AD4;
	margin: 0 50px;
	border-top: 3px solid #505050;
	font-size: 1.2em;
	line-height: 64px;
}
.service{
	cursor:pointer;
}
.servicebox {
	display:none;
}
.servicebox>div:nth-child(1) {
	font-size: 32px;
	margin-top: 32px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}
.servicebox>div:nth-child(2),.servicebox>div:nth-child(4) {
   width: 220px;
   margin: 0 auto;
   text-align: left;
   line-height: normal;
}
.servicebox>div:nth-child(3),.servicebox>div:nth-child(5) {
	width: 220px;
	margin: 0 auto;
	line-height: normal;
	margin-top: 5px;
	text-align: left;
	margin-bottom: 40px;
}
.servicebox>div:nth-child(3)>span:nth-child(2) {
	float: right;
}
.links>div:nth-child(1) {
	overflow:hidden;
	margin: 40px auto;
	display: inline-block;
}
.links>div>a {
	width:36px;
	height:36px;
	display:block;
	float:left;
	background-repeat:no-repeat;
	background-position:center center;
	font-size:0;
	margin-right: 90px;
}
.links>div>a:nth-child(1) {
	background-image:url(http://456.sweesa.com/sp/sp_10.png);
	background-size:14px 30px;
}
.links>div>a:nth-child(2) {
	background-image:url(http://456.sweesa.com/sp/sp_11.png);
	background-size:27px 27px;	
}
.links>div>a:nth-child(3) {
	background-image:url(http://456.sweesa.com/sp/sp_12.png);
	background-size:36px 14px;
	margin-right:0;
}