body {
    margin: 0;
    position: relative;
}
.header {
    width: 100%;
    height:77px;
    border-bottom:1px solid #dcdcdc;
    position:relative;
    min-width:468px;
    z-index: 2;
    background-color: white;
}
.header>.menu {
	width:77px;
	height:100%;
	border-right:1px solid #dcdcdc;
	float:left;
	background-image:url(http://456.sweesa.com/sp/sp_01.png);
	background-size:22px 20px;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}
.header>.logo {
	height:100%;
	background-image:url(http://456.sweesa.com/sp/sp_02.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:179px 27px;
	position:absolute;
	min-width:179px;
	left:78px;
	right:208px;
	cursor:pointer;
}
.header>.logo>a {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 0;
}
.header>.control {
	width:207px;
	height:100%;
	border-left:1px solid #dcdcdc;
	float:right;
}
.header>.control>div {
	width:33%;
	height:100%;
	float:left;
	cursor:pointer;
	background-repeat:no-repeat;
}
.header>.control>.member {
	background-image:url(http://456.sweesa.com/sp/sp_03.png);
	background-position:center center;
	background-size:17px 29px;
}
.header>.control>.member>a {
	width: 100%;
	height: 100%;
	display: block;
	font-size: 0;	
}
.header>.control>.wish {
	background-image:url(http://456.sweesa.com/sp/sp_04.png);
	background-position:center 32px;
	background-size:24px 20px;
	font-size: 1.25em;
	font-family: arial;
	text-align: center;
	line-height: 2.1em;
}
.header>.control>.wish>a {
	color:black;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
}
.header>.control>.cart {
	background-image:url(http://456.sweesa.com/sp/sp_05.png);
	background-position:center 30px;
	background-size:28px 23px;
	font-size: 1.25em;
    font-family: arial;
    text-align: center;
    line-height: 2.2em;
    width: 65.3px;
    padding-right: 3px;
}
.header>.control>.cart>a {
	color:black;
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: block;
}
.menubox {
	width:483px;
	position: absolute;
	background-color: white;
	top: 0;
	bottom: 0;
	padding-top: 78px;
	padding-bottom: 78px;
	z-index: 1;
	left: -483px;
	transition: left .4s;
}
.topbtn {
	background-image:url('http://456.sweesa.com/sp/sp_08.png');
	width:50px;
	height:65px;
	background-size: 50px 65px;
	position: fixed;
	right: 0;
	bottom: 100px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center center;
	display:none;
}
