.index {
	
}

.index>.rotate>a:first-child {
	position:absolute;
	width:100%;
}

.index>.navi {
	text-align:center;
}

.index>.navi>span {
	width:10px;
	height:10px;
	background-color:#8f8f8f;
	display: inline-block;
	border-radius: 5px;
	margin: 15px 5px;
	cursor:pointer;
}

.index>.navi>span.active {
	background-color:#d2d2d2;
}

.index>.preload {
	display:none;
}