.index>.rotate>a:first-child {
	position:absolute;
	width:100%;
}
.index>.navi {
	text-align:center;
}
.index>.navi>span {
	width:10px;
	height:10px;
	background-color:#8f8f8f;
	display: inline-block;
	border-radius: 5px;
	margin: 15px 5px;
	cursor:pointer;
}
.index>.navi>span.active {
	background-color:#d2d2d2;
}
.index>.preload {
	display:none;
}
.index>.event {
	position:relative;
	margin-top: 66px;
}
.index>.event>.outbox {
	width: 86.25%;
	margin: 0 auto;
	overflow:hidden;
}
.index>.event>.outbox>.inbox {
	position:relative;
	left: 0;
}
.index>.event>.outbox>.inbox>a {
	display: block;
	float:left;
}
.index>.event>.outbox>.inbox>a>img {
	width:100%;
}
.index>.event>.flagleft {
	width:6.09375%;
	position: absolute;
	top: 50%;
	margin-top: -4.921875%;
	cursor:pointer;
}
.index>.event>.flagright {
	width:6.09375%;
	position: absolute;
	top: 50%;
	right:0;
	margin-top: -4.921875%;
	cursor:pointer;
}
.index>.newarrival {
	background-image:url(http://456.sweesa.com/sp/sp_09.png);
	margin-top: 100px;
	border-top: 1px solid #bdbdbd;
	background-repeat: no-repeat;
	background-size: 22.65625%;
	background-position: center center;
	min-height: 100px;
}
.ui-content {
    padding-left:0;
    padding-right:0;
}